pkgbase = jesternet-os
	pkgdesc = JesterNet OS - Glassmorphic theme, icons, and development stack installers for Arch Linux
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/quantum-encoding/jesternet-os
	install = jesternet-os.install
	arch = any
	license = MIT
	makedepends = git
	depends = gnome-shell
	depends = gnome-tweaks
	depends = gtk3
	depends = gtk4
	depends = aria2
	depends = git
	depends = curl
	depends = wget
	optdepends = gnome-shell-extension-dash-to-dock: macOS-style dock
	optdepends = gnome-shell-extension-dash-to-panel: Windows-style taskbar
	optdepends = gnome-shell-extension-blur-my-shell: Blur effects
	optdepends = pngquant: Icon optimization
	optdepends = optipng: Icon optimization
	provides = jesternet-os
	provides = darkglass-theme
	provides = jesternet-icons
	conflicts = darkglass-theme
	source = jesternet-os-1.0.0.tar.gz::https://github.com/quantum-encoding/jesternet-os/archive/v1.0.0.tar.gz
	sha256sums = SKIP

pkgname = jesternet-os
